body {
        background-image: linear-gradient(to bottom, rgb(0, 255, 106), rgb(0, 153, 255));
    }

    .header-text {
        text-size-adjust: 30px;
        text-align: center;
        color: blue;
    }

    .header-contianer {
        margin-top: 1%;
        background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(255, 251, 0));
        padding: 2%;
        border-radius: 5%;
        width: 25%;
    }

    .flex-head {
        display: flex;
        justify-content: center;
    }

    .mitr-extralight {
        font-family: "Mitr", sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .img-container {
        width: 50%;
    }

    .nav-manu-container {
        background-image: linear-gradient(to bottom, rgb(248, 85, 207), rgb(197, 146, 255));
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 2%;
        border-radius: 15px;
        width: 10%;
    }

    .nav-manu-item {
        margin-left: 1%;
        margin-right: 1%;
        text-decoration: none;
        color: blue;
        font-family: "Mitr", sans-serif;
        font-weight: 200;
        font-style: normal;
    }